<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  <!-- This key is for Application Insights resource 'Reca.Customers' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>0084aaa5-ad9f-4267-b9d8-12f1da2b59c7</InstrumentationKey>
  <TelemetryProcessors>
  </TelemetryProcessors>
</ApplicationInsights>