<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="CustomerEntities"
         connectionString="metadata=res://*/Entities.Customers.csdl|res://*/Entities.Customers.ssdl|res://*/Entities.Customers.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=reca.database.windows.net;initial catalog=Reca;persist security info=True;user id=reca_technical_admin;password=Passw0rd%;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>